<nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top">
  <div class="container">
    <a class="navbar-brand fw-bold" href="#home">
      <i class="bi bi-bootstrap-fill text-primary me-1"></i> {{ brandName }}
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-lg-center">
        {% for item in navItems %}
        <li class="nav-item"><a class="nav-link {% if loop.first %}active{% endif %}" href="#{{ item.link }}">{{ item.name }}</a></li>
        {% endfor %}
        <li class="nav-item ms-lg-3"><a class="btn btn-primary shadow-sm" href="#features">Get Started</a></li>
      </ul>
    </div>
  </div>
</nav>
